body  {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
  }

.bg-black{
    background-color: black;
    
}
.font-div{
    width: 20%;
    height: 100%;
    font-size:2vw;
}
img{
    width: 100%;
    height:100%;
}

.fab {
    color:white !important;
}
.fab:hover {
    text-decoration: none;
    cursor: pointer;
    

  }
/* /////responsive////// */

@media only screen and (min-width:1198px){
    .font-div{
        padding: 98.5px 0px!important;
            }
}

@media only screen and (max-width:414px){
    .font-div{
        width: 20%;
        height: 10%;
        font-size:2vw;
        font-weight: bolder;
    }
}


